Repository taijusanagi/experiments: changes, and which pre-commit hooks are due for each by the changed paths.
All: format_jupyter, format_html

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format_jupyter # Renamed ID
        name: Format Jupyter # Renamed Name
        entry: python format_jupyter.py # Updated script name
        language: system # Or python if you have specific dependencies like nbformat
        types: [jupyter]
        # You might need to specify nbformat if using language: python
        # additional_dependencies: [nbformat]
      - id: format_html
        name: Format HTML
        entry: node formatHtml.js
        language: system
        types: [html]

remove non used lib and adjust repo name
  app/package-lock.json
  app/package.json
  app/src/app/[slug]/page.tsx
Due: none

adjusted style
  app/src/app/[slug]/page.tsx
  app/src/lib/content.ts
Due: none

remove tofu
  app/public/character.webp
  app/src/app/favicon.ico
Due: none

adjust padding
  app/src/app/[slug]/page.tsx
  app/src/app/page.tsx
Due: none

adjust font
  app/src/app/[slug]/page.tsx
  app/src/app/layout.tsx
  app/src/app/page.tsx
Due: none

done
  app/src/app/[slug]/page.tsx
  app/src/app/layout.tsx
Due: none

add beam in knn
  contents/knn-viz.html
Due: format_html

fix knn speed
  contents/knn-viz.html
Due: format_html

add sound
  contents/knn-viz.html
Due: format_html

make it cool
  contents/knn-viz.html
Due: format_html

adjust title of viz
  contents/knn-viz.html
Due: format_html

adjust toolbox in knn viz
  contents/knn-viz.html
Due: format_html

adjust color of line
  contents/knn-viz.html
Due: format_html

adjust min height
  app/src/app/layout.tsx
Due: none

added social
  app/package-lock.json
  app/package.json
  app/src/app/layout.tsx
Due: none

fix knn
  contents/knn.ipynb
Due: format_jupyter

done with basic liner regression explanation
  contents/linear-regression.ipynb
Due: format_jupyter

added h4 and h5
  app/src/app/[slug]/page.tsx
Due: none

done liner regression explaination
  contents/linear-regression.ipynb
Due: format_jupyter

temp fix for code block
  app/src/app/[slug]/page.tsx
Due: none

adjust blank line
  contents/knn.ipynb
  contents/linear-regression.ipynb
Due: format_jupyter

make lr done
  README.md
Due: none

first draft for nb
  contents/bernoulli-naive-bayes.ipynb
Due: format_jupyter

almost done for the nb part
  contents/bernoulli-naive-bayes.ipynb
Due: format_jupyter

done for the behind scene
  contents/bernoulli-naive-bayes.ipynb
Due: format_jupyter

added code
  contents/bernoulli-naive-bayes.ipynb
Due: format_jupyter

done bernoulli-naive-bayes
  README.md
  contents/bernoulli-naive-bayes.ipynb
Due: format_jupyter

added dt
  contents/bernoulli-naive-bayes.ipynb
  contents/decision-trees.ipynb
Due: format_jupyter

done dt
  README.md
  contents/decision-trees.ipynb
Due: format_jupyter

adjust title
  contents/decision-trees.ipynb
Due: format_jupyter

add kmeans-clusterin
  README.md
  contents/kmeans-clustering.ipynb
Due: format_jupyter

add dbscan
  README.md
  contents/dbscan.ipynb
Due: format_jupyter

adjust checklist of dt
  README.md
Due: none

add perceptron
  contents/perceptron.ipynb
Due: format_jupyter

update dbscan title
  contents/dbscan.ipynb
Due: format_jupyter

update readme for perceptron
  README.md
Due: none

update dt path
  README.md
  contents/decision-tree.ipynb
Due: format_jupyter

added polynomial regression
  README.md
  contents/polynomial-regression.ipynb
Due: format_jupyter

added math explanation
  contents/polynomial-regression.ipynb
Due: format_jupyter
